
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "Poppins", sans-serif !important;
  background: #f1f2f6;
  padding: 0 !important;
}


/* ------------------------------------ General ------------------------------------------- */
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
}

.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

@keyframes scale {

  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}


@keyframes search {
  0% {
    transform: translateX(0%) rotate(70deg);
  }

  100% {
    transform: translateX(100px) rotate(10deg);
  }
}
.svgIcon circle,
line {
  stroke: #1976d3;
}
.svgIcon circle {
  fill: rgba(238, 239, 255, 0.3);
}


.link-button {
  text-decoration: none !important;
  color: #656567;
}
.left-text-button {
  width: 100%;
  display: flex !important;
  text-align: start !important;
  align-items: start !important;
}
.note-small-text {
  color: #656567;
  font-size: 0.8rem !important;
}




/* ------------------------------------ Nav Bar ------------------------------------------- */
.App-logo {
  padding: 0.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.user-logged {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px rgba(96, 96, 96, 0.5);
}

.user-logged-avt {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(96, 96, 96, 0.5);
}

.nav-user-feat {
  display: flex;
  align-items: center;
}

.nav-page-button {
  width: 4.5rem;
  height: 2.5rem;
}

.current-page {
  background: #ffffffca !important;
  
}

.current-page-icon {
  color: #1976D3 !important;
}

.nav-notification-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  background: #ededed;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.nav-notification-button:hover {
  background: #cccccc;
}

/*-------------------------------Login-register--------------------------------------*/


.auth-background {
  background: linear-gradient(45deg, black 50%, #1976D3 50%) !important;
  background-size: 800% 800%;
  height: 100vh;
}

.login-form {
  position: relative;
  background-color: #ffffff;
  width: 35rem;
  height: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #ebebeb5a;
  box-shadow: rgba(110, 110, 110, 0.548) 1px 5px 15px 0px;
}

.login-form::after {
  content: "MAKE IT SIMPLE";
  position: absolute;
  bottom: 1.5rem;
  left: -3rem;
  width: 6rem;
  height: 90%;
  background: #1976D3 ;
  border-radius: 1rem;
  box-shadow: rgba(110, 110, 110, 0.548) 1px 2px 2px 0px;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.7rem;
}

.register-form {
  position: relative;
  background-color: #ffffff;
  width: 35rem;
  height: 33rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #ebebeb5a;
  box-shadow: rgba(110, 110, 110, 0.548) 1px 5px 15px 0px;
}

.register-form::after {
  content: "MAKE IT SIMPLE";
  position: absolute;
  bottom: 1.5rem;
  left: -3rem;
  width: 6rem;
  height: 90%;
  background: #1976D3 ;
  border-radius: 1rem;
  box-shadow: rgba(110, 110, 110, 0.548) 1px 2px 2px 0px;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.7rem;
}

.forgot-password-form{
  position: relative;
  background-color: #ffffff;
  width: 30rem;
  height:22rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #ebebeb5a;
  box-shadow: rgba(110, 110, 110, 0.548) 1px 5px 15px 0px;
}

.otp-Form {
  width: 17rem;
  height: 20rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 20px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
  border-radius: 15px;
}

.mainHeading {
  font-size: 1.1em;
  color: rgb(15, 15, 15);
  font-weight: 700;
}

.otpSubheading {
  font-size: 0.7em;
  color: black;
  line-height: 17px;
  text-align: center;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0 1rem !important;
}

.otp-input {
  background-color: rgb(228, 228, 228);
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 7px;
  caret-color: rgb(127, 129, 255);
  color: rgb(44, 44, 44);
  outline: none;
  font-weight: 600;
}

.otp-input:focus,
.otp-input:valid {
  background-color: rgba(127, 129, 255, 0.199);
  transition-duration: .3s;
}

.verifyButton {
  width: 100%;
  height: 30px;
  border: none;
  background: #1976d3 !important;
  color: white !important;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: .2s;
}

.verifyButton:hover {
  background: #3a95f0;
  color: white;
  transition-duration: .2s;
}

.exitBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  color: black;
  font-size: 1.1em;
  cursor: pointer;
}

.resendNote {
  font-size: 0.7em;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.resendBtn {
  background-color: transparent;
  border: none;
  color: #1976d3;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 700;
}

/* From Uiverse.io by doniaskima */ 
.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}



/*-------------------------------Chats--------------------------------------*/

.potential-all-users {
  display: flex;
  margin-bottom: 1rem;
}

.potential-single-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  position: relative;
}

.potential-avatar {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.potential-username {
  color: #000000;
  text-transform: capitalize;
  margin-top: 0.5rem;
  text-align: center;
}

.user-online {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: rgb(0, 219, 0);
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  border: 2px solid white;
}

/*-----------------------------Profile page------------------------------*/
.grey-profile-button {
  outline: none !important;
  background: #e5e4ea !important;
  border: none !important;
  color: #000000 !important;
  box-shadow: 0 1px 2px rgba(75, 75, 75, 0.82);

}

.choose-avt {
  color: #000000 !important;
  background: #acaaad !important;
  border-radius: 50% !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  border: 2px solid #ffffff !important;
  position: absolute;
  top: 8rem;
  left: -3rem;
}

.profile-background-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #00000000, #ffffffd7, #ffffff);
  backdrop-filter: blur(35px);
}

.tab-navigation {
  font-size: 1rem !important;
  font-weight: 700 !important;
  color: #64686b;
  text-transform: capitalize !important;
}
.profile-edit-background-button {
  background: #ffffff !important;
}
.create-post-box-button {
  flex: 1 !important;
  text-transform: capitalize !important;
  color: #656565 !important;
  font-weight: 600 !important;
  font-size: 0.9rem !important;
}

.button-comment:hover{
  background-color: #f1f2f6 !important;
}

